* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

html {
    font-size: 62.5%;
}

.page__title {
    font-size: 2.5rem;
    text-align: center;
    color: rgba(16, 0, 160, .7);
}

.toastify {
    font-size: 2rem;
}

.active {
    color: orange;
}